
body {
  border: 2px solid #800;
}

.container {
  div {
    height: 32px;
    overflow: auto;
  }
  div.changeh {
    height: 400px;
  }
}




h2 {
  margin: 0;
}

// p {
//   height
// }

.container h2 {
  border: 2px solid #800;
}

.container2 p {
  background-color: red;
}

// .container h2 p {
//   transition-property:
// }
